/* ============= RESPONSIVATOR ===========================================================================================================*/
#responsivator {
    background-color: #2E2E2E;
	background: #0e0e0e; /* Old browsers */
background: -moz-linear-gradient(top, #0e0e0e 12%, #7d7e7d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#0e0e0e), color-stop(100%,#7d7e7d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0e0e0e 12%,#7d7e7d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0e0e0e 12%,#7d7e7d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0e0e0e 12%,#7d7e7d 100%); /* IE10+ */
background: linear-gradient(to bottom, #0e0e0e 12%,#7d7e7d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
    height: 18px;
    width: 119px;
    list-style: none;
    z-index: 100;
    position: relative;
    top: 4px;
    left: -20px;
    opacity: .9;
    box-shadow: 0 0 10px #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #181818;
    padding: 4px;
	margin-left: 110px;
	position: absolute;
	z-index: 10;
	top: 12px;
	left: 20px;
	padding-left: 12px;
	display: none;
}
.ie #responsivator {
    border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
/*.webkit #responsivator {
		top: 54px;
}*/
#responsivator li {
    width: 20px;
    height: 16px;
    cursor: pointer;
    margin-left: 2px;
	float: left;
}
.webkit #responsivator li {
	    width: 19px;
		height: 16px;
}
/*#frameWrapper {
	position: relative;
	z-index: 100;
	
}*/
#frame { overflow-x: hidden; opacity: 1;}
#responsivator #desktop { background: url('../img/iconsGrey.png') 0 0px; }
#responsivator #desktop.active { background: url('../img/iconsWhite.png') 0px 0px; }
#responsivator #tablet-landscape { background: url('../img/iconsGrey.png') -36px 0px; }
#responsivator #tablet-landscape.active { background: url('../img/iconsWhite.png') -36px 0px; }
#responsivator #tablet-portrait { background: url('../img/iconsGrey.png') -18px 0px; }
.webkit	#responsivator #tablet-portrait { background: url('../img/iconsGrey.png') -17px 0px; }
#responsivator #tablet-portrait.active { background: url('../img/iconsWhite.png') -18px 0px; }
.webkit	#responsivator #tablet-portrait.active { background: url('../img/iconsWhite.png') -17px 0px; }
#responsivator #iphone-landscape { background: url('../img/iconsGrey.png') -58px 0px; }
#responsivator #iphone-landscape.active { background: url('../img/iconsWhite.png') -58px 0px; }
#responsivator #iphone-portrait { background: url('../img/iconsGrey.png') -76px 0px;  width: 16px;}
#responsivator #iphone-portrait.active { background: url('../img/iconsWhite.png') -76px 0px;  width: 14px; }
#iframelive.tablet-landscape,
#iframelive.tablet-portrait,
#iframelive.iphone-landscape,
#iframelive.iphone-portrait {
    height: 94%;
    overflow: auto;
}
#iframelive {
    height: 100%;
	background: #161616 url('../img/resp-bg.png') repeat 43% 0 ; 
}



 /* DESKTOP  */
	#iframelive.desktop iframe {
		width: 100%;  
		margin: 0;
    }
    #iframelive.desktop #frameWrapper {
		background: none;
		margin: 0;
		/*overflow: auto;*/
		height: 100%;
    }
    #iframelive.desktop {

}

 /* tablet-landscape  */
#iframelive.tablet-landscape iframe {
    width: 1039px; 
    height: 690px !important;
    margin: 51px 0 0 80px;
}
#iframelive.tablet-landscape #frameWrapper {
    background: url('../img/pad-land.png');
    width: 1242px;
    height: 798px;
    margin: 20px auto;
	overflow: auto;
}
#iframelive.tablet-landscape #frameWrapper iframe {
	overflow-x: hidden;
}

/*  tablet-portrait */
#iframelive.tablet-portrait iframe {

    width: 785px; 
    height: 1038px !important;
    margin: 65px 0 0 58px;
    
}
#iframelive.tablet-portrait #frameWrapper {
    background: url('../img/pad-port.png');
    width: 901px;
    height: 1213px;    
    margin: 20px auto;
}

/* iphone-landscape */
#iframelive.iphone-landscape iframe {
    width: 495px; 
    height: 335px !important;
    margin: 28px 0 0 133px;
}
#iframelive.iphone-landscape #frameWrapper {
    background: url('../img/phone-land.png');
    width: 759px;
	height: 395px;  
    margin: 150px auto 20px;
}

/* iphone-portrait */
#iframelive.iphone-portrait iframe {
    width: 337px; 
    height: 495px !important;
    margin: 133px 0 0 30px;
}
#iframelive.iphone-portrait #frameWrapper {
    background: url('../img/phone-port.png');
    width: 395px;
    height: 762px;     
    margin: 20px auto;
}









@media only screen  and (min-width: 1280px) {
	#iframelive.dynamic_mode iframe {
		width: 100%; 

		margin: 0;
    }
    #iframelive.dynamic_mode #frameWrapper {
		background: none;
		margin: 0;
		/*overflow: auto;*/
		height: 100%;
    }
    #iframelive.dynamic_mode {

}
	
}
@media only screen and (min-width: 1259px) and (max-width: 1279px) {
    #iframelive.dynamic_mode iframe {
		width: 1039px; 
		height: 690px !important;
		margin: 51px 0 0 80px;
    }
    #iframelive.dynamic_mode #frameWrapper {
		background: url('../img/pad-land.png');
		width: 1242px;
		height: 798px;
		margin: 20px auto;
    }
    #iframelive.dynamic_mode {
		overflow: auto;
		height: 94%;
	}
}
@media only screen and (min-width: 916px) and (max-width: 1258px) {
    #iframelive.dynamic_mode iframe {
    width: 785px; 
    height: 1038px !important;
    margin: 65px 0 0 58px;
    }
    #iframelive.dynamic_mode #frameWrapper {
    background: url('../img/pad-port.png');
    width: 901px;
    height: 1213px;    
    margin: 20px auto;
    }
        #iframelive.dynamic_mode {
    overflow: auto;
    height: 94%;
}
}
@media only screen and (min-width: 759px) and (max-width: 915px) {
    #iframelive.dynamic_mode iframe {
    width: 495px; 
    height: 335px !important;
    margin: 28px 0 0 133px;
}
    #iframelive.dynamic_mode #frameWrapper {
    background: url('../img/phone-land.png');
    width: 759px;
	height: 395px;    
    margin: 150px auto 20px;
}
    #iframelive.dynamic_mode {
    overflow: auto;
    height: 94%;
}
}
@media only screen and (max-width : 758px) {
    #iframelive.dynamic_mode iframe {
    width: 337px; 
    height: 495px !important;
    margin: 133px 0 0 30px;
    }
    #iframelive.dynamic_mode #frameWrapper {  
    background: url('../img/phone-port.png');
    width: 395px;
    height: 762px;     
    margin: 20px auto;
    }
        #iframelive.dynamic_mode {
    overflow: auto;
    height: 94%;
}
}
/*          MOBILE          */
/*    #iframelive iframe.mobile {
    width: inherit; 
	overflow: auto;
	overflow-y: scroll; 
    margin: 0;
	height: 100%;
    }
    #iframelive #frameWrapper.mobile {
    background: none;
    width: inherit;
	overflow: auto;
	overflow-y: scroll; 
    margin: auto;
	height: 100%;
    }*/
    
	

/*  ====================================================================================================================================== */